<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>

	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>

	<div class = "main_container">
		<div class = "form_container">
			<h1>Welcome to Replit Clone</h1>
			<% if(error != ""){ %>
				<div class = "error_container">
					<div class = "message">
						<%= error %>
					</div>
				</div>
			<%}%>
			<form method="POST" action="/login">
				<input type="text" name="username" placeholder="Username" size="25">
				<input type="password" name="password" placeholder="Password" size="25">
				<p>New to Replit Clone?<a href="sign-up">Sign up</a></p>
				<span></span>
				<button>Log in</button>
				<button>Log in with Google</button>
			</form>
		</div>
		<div class = "image_container">
			<img src="/images/login-coding.jpg"/>
		</div>
	</div>
</body>
</html>