<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page</title>

	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>

	<div class = "main_container">
		<div class = "form_container">
		
			<!--
			<fieldset>
				<legend>Login</legend>
				<label>
					Email
					<input type="email" name="email">
				</label>
				<label>
				  Username
				  <input type="text" name="username">
				</label>
				<label>
				  Password
				  <input type="text" name="password">
				</label>
				<label>
					Confirm Password
					<input type="text" name="confrim_password">
				  </label>
			  </fieldset>
			-->
		</div>
		<div class = "image_container">
			<img src="/images/login-coding.jpg"/>
		</div>
	</div>
</body>
</html>