<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Replit Clone</title>
		<link rel='stylesheet' href='/stylesheets/main-page/main-page-project.css' />
	</head>
	<body>

		<div class = "header">
			<div class = "left">
				<div class = "logo">
					Replit Clone
					Project : <%= project_name %>
				</div>
			</div>

			<div class = "right">
                <%= currentUser.username%>
				<div class = "profile-image"></div>
			</div>
		</div>
		
		<div class = "main-body">
			<div class = "project-view">
				Here is the project view
			</div>
			<div class = "code-editing">
				<div class = "open-files">
					<button>hello.c</button>
				</div>
				<textarea id="editor"></textarea>
			</div>
		</div>
	</body>

</html>