<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Replit Clone</title>
		<link rel='stylesheet' href='/stylesheets/main-page/main-page.css' />
	</head>
	<body>
		<div class = "header">
			<div class = "left">
				<div class = "logo">
					Replit Clone
					Welcome back <%= currentUser.username%>
				</div>
			</div>

			<div class = "right">
				<div class = "profile-image"></div>
			</div>
		</div>
		<div class = "main-body">
			<button id="create-button">Create a new Project</button>
			<button id="delete-button">Delete existing Project</button>
			<div class ="existing_projects">
				Open an existing Project
				<ul>
					<% for(let i=0; i < projects.length; i++) { %>
					<% let link = "/@/" + projects[i].project_owner + "/" + projects[i].project_name;%>
					<li><a href=<%=link%>><%=projects[i].project_name %></a></li>
					<%}%>
				</ul>
			</div>			
		</div>
		
		<div class = "modal">
			<div class = "modal-content">
				<span class="close-modal">&times;</span>
				<form method="POST" action="/main-page/">
					<label for ="project-name">Project Name: 
						<input id="project-name" name="project_name" type="text">
					</label>
					<button type="submit">Create new project</button>
				</form>
			</div>
		</div>

		<div class = "delete-modal">
			<div class = "delete-modal-content">
				<span class="delete-close-modal">&times;</span>
				<form method="POST" action="/main-page/delete">
					<label for ="delete-project-name">Project Name: 
						<input id="delete_project-name" name="delete_project_name" type="text">
					</label>
					<button type="submit">Delete project</button>
				</form>
			</div>
		</div>

	</body>
	<script src="/scripts/main-page/modal.js"></script>
</html>