<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Replit Clone</title>
		<link rel='stylesheet' href='/stylesheets/main-page/main-page-project.css' />
	</head>
	<body>

		<div class = "header">
			<div class = "left">
				<div class = "logo">
					Replit Clone
					Project : <%= project_name %>
				</div>
			</div>

			<div class = "right">
				<div class = "username">
                	<%= currentUser.username%>
				</div>
				<div class = "profile-image"></div>
			</div>
		</div>
		
		<div class = "main-body">
			<div class = "project-view">
				<div class="project-actions">

						<button id="file_plus">
							<img src="/images/project-actions-icons/icon-file-plus.svg">
						</button>

						<button id="folder_plus">
							<img src="/images/project-actions-icons/icon-folder-plus.svg">
						</button>


						<div class="input-container" style="display: none">
							<div class = "input-error-container" style="display: none">test.c already exists</div>
							<input id="input_text" type="text">
							<button id="create">Create</button>
						</div>
						

				</div>
				
				<div class = "file_view">
				</div>

			</div>

			<div class = "code-editing">
				<div class = "open-files">
					<button>current file</button>
				</div>
				<textarea id="editor" style = "display: flex"></textarea>

			</div>
			<div id = 'terminal'></div>

		</div>
	</body>

	<script type = "module" src="/scripts/main-project/bundle.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="/codemirror/codemirror-5.64.0/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/codemirror/codemirror-5.64.0/lib/codemirror.css">
	<script src="/codemirror/codemirror-5.64.0/mode/meta.js"></script>
	<script src="/codemirror/codemirror-5.64.0/addon/mode/loadmode.js"></script>
	<script src="/codemirror/codemirror-5.64.0/addon/display/autorefresh.js"></script>

</html>