@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: #eee;
    overflow: hidden;
    font-family: Besley, serif;
}

.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}
  
.profile-image {
    background: rgb(48, 140, 177);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height:  48px;
}
  
.logo {
    color: rgb(48, 140, 177);;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

.left,
.right{
    font-family: Besley, serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-body{
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: 1;
}

.project-view{
    background-color: rgb(175, 163, 230);
    overflow-y: scroll !important;
    height: 800px
}

.file_view {
    height: 100%;
}

.project-view button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.file,
.folder{
    margin-bottom: 5%;
}

/*
.contents:hover {
    cursor: pointer;
    background-color: grey;
}*/



textarea,.CodeMirror, .cm-s-default{
    background-color: whitesmoke;
    font-size: 20px;
    height: 773px;
    width: 1000px;
}

.open-files button{
    font-size: 20px;
    text-align: center;
}

.input-error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.5);
    width: 80%;

}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container input{
    font-size: 16px;
    width: 80%;
    height: 25px;
}

.input-container button{
    border: 2px solid black;
    border-radius: 2px;
    width: 20%;
    height: 25px;
}